@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-source-sans);

  --color-primary: #f58220;
  --color-secondary: #35d8b0;
  --color-secondary-dark: #00b28c;
  --color-secondary-bg: #fafafa;
  --color-divider: #f0f0f0;
  --color-heading: #000000;
  --color-paragraph: #402e32;
  --color-placeholder: #999999;
  --color-container-border: #ece8e5;
}

body {
  background: #ffffff;
  color: var(--color-paragraph);
  font-family: var(--font-body);
}
